<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
   <body class="bg-gradient-to-r from-cyan-500 to-blue-500">
      
            <div
                class="mx-auto mx-8 px-3 mt-16 max-w-2xl bg-gray-100 rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-10 lg:flex items-center lg:max-w-none"
            >
                <div class="p-8 bg sm:p-10 lg:flex-auto">
                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">
                        Weekly Savings Calculator
                    </h3>
                    <p class="mt-6 text-base leading-7 text-gray-600">
                        This calculator will show you how much you can save over
                        time if you commit to a routine deposits.
                    </p>
                    <div class="flex space-x-4">
                        <form class="flex items-center" action="/calc"  method="POST">
                            <div class="mt-3 w-25 px-3">
                           
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-amount"
                            >
                                Amount per week
                            </label>
                            <input
                                class="appearance-none block w-20 bg-gray-200 text-black rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-900 focus:text-white"
                                id="amount-week"
                                name="amountWeek"
                                type="text"
                                placeholder="30"
                            />
                            </div>
                            <div class="mt-3 w-25 px-3">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-days"
                            >
                                Goal Amount
                            </label>
                            <input
                                class="appearance-none block w-20 bg-gray-200 text-black rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-900 focus:text-white"
                                id="goal-amount"
                                name="goalAmount"
                                type="text"
                                placeholder="375"
                            />
                            </div>
                            <button class="h-12 mt-7 block bg-white align-center hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mx-auto">
  Submit</button>
                        </form>
                    </div>
                    <div class="mt-10 flex items-center gap-x-4">
                        <h4
                            class="flex-none text-sm font-semibold leading-6 text-green-400"
                        >
                            Free Data!
                        </h4>
                        <div class="h-px flex-auto bg-gray-100"></div>
                    </div>
                    <ul
                        role="list"
                        class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
                    >
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none text-green-400"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            Savings Per Week:
                         
                            <em class="text-green-400" id="perWeek">${{amount}}</em>
                    
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6 text-red-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                            Savings Per Year:
                            
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                class="h-6 w-5 flex-none text-green-400"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                                    clip-rule="evenodd"
                                />
                            </svg>
                            Savings Per Month:
                            <em class="text-green-400" id="perMonth">${{monthAmount}}</em>
                        </li>
                        <li class="flex gap-x-3">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                class="h-6 w-6 text-red-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                            How Many Weeks To Achieve Goal:  
                            
                        </li>
                    </ul>
                </div>
                <div
                    class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0"
                >
                    <div
                        class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
                    >
                        <div class="mx-auto max-w-xs px-8">
                            <p class="text-base font-semibold text-gray-600">
                                Get The Full Rundown
                            </p>
                            <p
                                class="mt-6 flex items-baseline justify-center gap-x-2"
                            >
                                <span
                                    class="text-5xl font-bold tracking-tight text-gray-900"
                                    >Absolutley Free!</span
                                >
                           
                            </p>
                            <a
                                href="/signup"
                                class="mt-10 block w-full rounded-md bg-cyan-400 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                >Sign Up</a
                            >
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="mx-8 mt-16 max-w-2xl bg-gray-100 rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-10 lg:flex items-center lg:max-w-none"
        >
            <div class="p-8 bg sm:p-10 lg:flex-auto">
                <h3 class="text-2xl font-bold tracking-tight text-gray-900">
                    Contact Us!
                </h3>
                <p class="mt-6 text-base leading-7 text-gray-600">
                    We'd love to hear from you and help you with any questions
                    you have!
                </p>
                <ul class="mt-6 text-base leading-7 text-gray-600">
                    <li>
                        <em><strong>Email:</strong></em> example@test.com
                    </li>
                    <li>
                        <em><strong>Phone:</strong></em> (555)-676-0000
                    </li>
                    <li>
                        <em><strong>Mailing Address:</strong></em> 345 Little
                        Lane, Detroit, Michigan, 06676
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
