<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
   <body class="bg-gradient-to-r from-cyan-500 to-blue-500">
      
            <div
                class="mx-auto mx-8 mt-16 max-w-2xl bg-gray-100 rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-10 lg:flex items-center lg:max-w-none"
            >
                <div class="p-8 bg sm:p-10 lg:flex-auto">
                    <h3 class="text-2xl font-bold tracking-tight text-gray-900">
                        Weekly Savings Calculator
                    </h3>
                    <p class="mt-6 text-base leading-7 text-gray-600">
                        This calculator will show you how much you can save over
                        time if you commit to a routine deposits.
                    </p>
                    <div class="flex space-x-4">
                        <form class="flex items-center" action="/fullCalc"  method="POST">
                            <div class="mt-3 w-25 px-3">
                           
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-amount"
                            >
                                Amount per week
                            </label>
                            <input
                                class="appearance-none block w-20 bg-gray-200 text-black rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-900 focus:text-white"
                                id="amount-week"
                                name="amountWeek"
                                type="text"
                                placeholder="30"
                            />
                            </div>
                            <div class="mt-3 w-25 px-3">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-days"
                            >
                                Goal Amount
                            </label>
                            <input
                                class="appearance-none block w-20 bg-gray-200 text-black rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-900 focus:text-white"
                                id="goal-amount"
                                name="goalAmount"
                                type="text"
                                placeholder="375"
                            />
                            </div>
                            <button class="h-12 mt-7 block bg-white align-center hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mx-auto">
  Submit</button>
                        </form>
                    </div>
                    <div class="mt-10 flex items-center gap-x-4">
                        <h4
                            class="flex-none text-sm font-semibold leading-6 text-black"
                        >
                            Full Data
                        </h4>
                        <div class="h-px flex-auto bg-gray-100"></div>
                    </div>
                    <ul
                        role="list"
                        class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
                    >
                        <li class="flex gap-x-3">
                            
                            Savings Per Week:
                         
                            <em class="text-green-400" id="perWeek">${{amount}}</em>
                    
                        </li>
                        <li class="flex gap-x-3">
                          
                            Savings Per Year:
                            <em class="text-green-400" id="perYear">${{yearAmount}}</em>
                        </li>
                        <li class="flex gap-x-3">
                            
                            Savings Per Month:
                            <em class="text-green-400" id="perMonth">${{monthAmount}}</em>
                        </li>
                        <li class="flex gap-x-3">
                           
                            How Many Weeks To Achieve Goal: 
                            <em class="text-green-400" id="goalTime">Approx. {{adjTimeOfGoal}} weeks</em>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
       
    </body>
</html>
